.grid-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 30px;
    justify-content: start; 
  }
  
  .box {
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: rgb(19, 10, 10);
    padding: 20px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    border-radius: 10px;
    transition: transform 0.2s;
  }
  
  .user-header {
    display: flex;
    align-items: start;
    margin-bottom: 10px;
  }
  
  .box-avatar {
    width: 80px;
    height: 80px;
    font-weight: bold;
    font-size: 40px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
  }
  
  .user-details {
    margin-top: 8px;
    display: flex;
    font-size: 14px;
    gap: 8px;
    flex-direction: column;  
  }
  
  .box:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .user-amount-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .user-amount {
    margin-top: 8px;
    display: flex;  
    align-items: center;   
    flex-direction: column; 
    gap: 10px;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    width: 400px;
    max-height: 80vh;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.modal-scroll {
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.txn-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: #f3f3f3;
    border-radius: 8px;
}

  